<%- include('./partial/head', { title: 'gamota Customer Support' }) %>

    <!-- Header -->
    <%- include('./partial/header') %>

    <div class="flex">

        <!-- Sidebar -->
        <%- include('./partial/slidebar') %>

        <!-- Main Content -->
        <main class="flex-1 p-6">
            <h2 class="text-2xl font-bold mb-4">FAQ Management</h2>
            
            <!-- FAQ Form -->
            <%- include('./partial/faqAd') %>
            <h2 class="text-2xl font-bold mb-4">Ticket Management</h2>
            
            <!-- Ticket Table -->
            <%- include('./partial/ticketAd') %>
        </main>
    </div>

    <%- include('./partial/footer') %>
